::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #dddee1;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
}